{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sketch!</title>
    <link rel="stylesheet" href="{% static 'studio/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app-container">
        <div class="canvas-container dotted">
            <div class="tool-controls-container">
                <button class="control-button active" id="pencil" data-width="5"><img src="{% static 'studio/icons/pencil.svg' %}" /></button>
                
                <div class="row colors">
                    <ul class="options" id="colors">
                        <li class="option" data-color="#000000"></li>
                        <li class="option" data-color="ff0000"></li>
                        <li class="option" data-color="#0000ff"></li>
                    </ul>
                </div>
               
                <button class="control-button" id="brush" data-width="20"><img src="{% static 'studio/icons/brush.svg' %}" /></button>
                <div class="row colors">
                    <ul class="options" id="colors">
                        <li class="option" data-color="#000000"></li>
                        <li class="option" data-color="ff0000"></li>
                        <li class="option" data-color="#0000ff"></li>
                    </ul>
                </div>
                <button class="control-button" id="eraser"><img src="{% static 'studio/icons/eraser.svg' %}" /></button>
            </div>
            <div class="action-controls-container">
                <button class="control-button sm" id="edit"> EDIT </button>
                <button class="control-button sm" id="save"> SAVE</button>
            </div>
            <div class="canvas-board" id="board">
                <canvas id="brushCanvas" style="position:absolute;"></canvas>
                <canvas id="pencilCanvas" style="position:absolute;"></canvas>
                <script src="{% static 'studio/studio.js' %}"></script>
            </div>
        </div>
    </div>
    
</body>
</html>
