{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sketch!</title>
    <link rel="stylesheet" href="{% static 'studio/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app-container">
        <div class="canvas-container dotted">

            <div class="tool-controls-container">
                
                <div class="controls-wrapper">
                    <div class="control-button active" id="pencil" data-width="1"><img src="{% static 'studio/icons/pencil.svg' %}" />                        
                    </div>
                    <div class="sizes-container">

                        <ul class="sizes" id="pencil-sizes">
                            <li data-size="1" class="current-brush size" id="pencil-size-default">small</li>
                            <li data-size="5" class="size">medium</li>
                            <li data-size="10" class="size">large</li>
                        </ul>
                    </div>
                </div>
                
                <div class="colors" id="pencil-colors-div">
                    <ul class="options" id="pencil-colors">
                        <li class="option selected" data-color="#000000" data-tool="pencil" id="pencil-default"></li>
                        <li class="option" data-color="#ff0000" data-tool="pencil"></li>
                        <li class="option" data-color="#0000ff" data-tool="pencil"></li>
                    </ul>
                </div>


               <div class="controls-wrapper">
                <div class="control-button" id="brush" data-width="20">

                    <div class="trigger-container not-active">
                        <div id="pattern-trigger"></div>
                    </div>
                    <img src="{% static 'studio/icons/brush.svg' %}" />
                </div>
                
                <div id="hidden">
                    <div class="sizes-container" id="sizes-container-brush">
                        <ul class="sizes not-active" id="brush-sizes">
                            <li data-size="20" class="current-brush size" id="brush-size-default">small</li>
                            <li data-size="30" class="size">medium</li>
                            <li data-size="45" class="size">large</li>
                        </ul>
                    </div>
                </div>


                <div class="patterns-container not-active" id="patterns-container">
                    <ul class="patterns" id="brush-patterns">
                    </ul>
                </div>


               </div>
               
                <div class="row colors not-active" id="brush-colors-div">
                    <ul class="options" id="brush-colors">
                        <li class="option selected" data-color="#000000" data-tool="brush" id="brush-default"></li>
                        <li class="option" data-color="#ff0000" data-tool="brush" ></li>
                        <li class="option" data-color="#0000ff" data-tool="brush"></li>
                        <li class="option pattern" data-tool="brush"></li>

                    </ul>
                </div>


                <div class="control-button" id="eraser" data-width="25"><img src="{% static 'studio/icons/eraser.svg' %}" /></div>
            </div>

        
            <div class="action-controls-container">
                <button class="control-button sm" id="clear">CLEAR</button>
                <button class="control-button sm" id="edit">EDIT</button>
                <button class="control-button sm" id="save">SAVE</button>
            </div>



    <div class="container">

        <div  class="frame-icon" id="prev-frame">
            <img src="{% static 'studio/icons/left.svg' %}">
         </div>

        <div class="canvas-control">

            <div class="frame-counter-container">

                <div class="frame-counter">
                    <p id="frame-display"></p>
                </div>

            </div>
            
            <div class="canvas-board" id="board">

                <canvas id="animation-displayer" style="position: absolute; display: none;"></canvas>
                <canvas id="brushCanvas" style="position:absolute;"></canvas>
                <canvas id="pencilCanvas" style="position:absolute;"></canvas>
                <img id="onion-skin" style="position:absolute; opacity:0.1; pointer-events:none;">

                <script type="module" src="{% static 'studio/studio.js' %}"></script>
                
            </div>

        <div class="control-bar">

            <div class="loop-container" id="loop-container">
                <div class="loop">
                    <img src="{% static 'studio/icons/loop.svg' %}" id="loop-icon">
                </div>
                </div>

            <div class="play-container" id="play-container">
                <img src="{% static 'studio/icons/play.svg' %}" id="play-icon"></img>
            </div>


            <div class="speed-container" id="speed-container">
                    <div id="speed-display">X1</div>
            </div>

    
        </div>
        </div>

        <div  class="frame-icon" id="next-frame">
            <img src="{% static 'studio/icons/right.svg' %}">
        </div>

        </div>




    </div>


    <script src="{% static 'studio/animation.js' %}" type="module"></script>


</body>
</html>
