/* Estilos generales */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91C5D0; /* Azul Claro */
    opacity: 1;
    background-image: linear-gradient(135deg, #80a8b8 25%, transparent 25%), 
                      linear-gradient(225deg, #80a8b8 25%, transparent 25%), 
                      linear-gradient(45deg, #80a8b8 25%, transparent 25%), 
                      linear-gradient(315deg, #80a8b8 25%, #91C5D0 25%);
    background-position: 4vh 0, 4vh 0, 0 0, 0 0;
    background-size: 8vh 8vh;
    background-repeat: repeat;
}

.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.canvas-container {
    display: flex;
    justify-content: space-between; /* Distribuir espacio entre los elementos hijos */
    align-items: center; /* Centrar verticalmente */
    width: 90vw;
    height: 90vh;
    background-color: #a7dce6;
    border-radius: 0.5vw;
    border: solid 1vw #ff7300;
    padding: 1vw; /* Añadir padding para que los elementos no toquen el borde */
    box-sizing: border-box; /* Incluir padding y border en el tamaño total */
}

.tool-controls-container, .action-controls-container {
    display: flex;
    flex-direction: column; /* Alinear botones en columna */
    align-items: flex-start; /* Alinear a la izquierda */
}

.control-button {
    width: 6vw;
    height: 6vw; /* Ajustar el alto para que sea cuadrado */
    margin: 2vh 2.5vh; /* Reducir margen vertical */
    font-size: 1vw;
    background-color: #ff7300;
    color: white;
    border: groove .4vw #ff7300; /* Quitar el borde sólido */
    border-radius: 0.5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Para ocultar partes de la imagen que sobresalgan */
    box-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.3), -0.2vw -0.2vw 0.4vw rgba(255, 255, 255, 0.2); /* Sombra para efecto 3D */
    transition: box-shadow 0.2s ease; /* Transición suave */
}

.sm {
    width: 8vw;
    height: 5vw;
    margin: 10vh 0;
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    font-style: normal;
    color: black;
}

.control-button:active {
    box-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.3), -0.1vw -0.1vw 0.2vw rgba(255, 255, 255, 0.2); /* Sombra más pequeña al presionar */
    transform: translate(0.2vw, 0.2vw); /* Simular la presión del botón */
    background-color: #c15f0e;
}

.control-button.active {
    background-color: #8fbec8; /* Color diferente para el botón activo */
    box-shadow: inset 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.3), inset -0.1vw -0.1vw 0.2vw rgba(255, 255, 255, 0.2); /* Sombra interna para el efecto de presión */
    transform: translate(0.2vw, 0.2vw); /* Simular la presión del botón */
    border: ridge #c15f0e .4vw
}

.control-button img {
    width: 70%; /* Ajustar el tamaño de la imagen */
    height: auto; /* Mantener la proporción */
    object-fit: contain; /* Ajusta la imagen dentro del tamaño especificado manteniendo la proporción */
}

.canvas-board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    background-color: #fff;
    border-radius: 0.5vw;
    border: solid .1vw #91C5D0;
    width: 50vw;
    height: 75vh;
}

.colors .option {
    height: 1.3vw;
    width: 1.3vw;
    border-radius: 50%;
    margin: 0 .2vw; /* Añadir margen horizontal para separación */
    position: relative;
}

.colors .option:nth-child(1) {
    background-color: #000000;
    border: .2vw solid #fff;
}
.colors .option:nth-child(2) {
    background-color: #ff0000;
    border: .2vw solid #fff;
}

.colors .option:nth-child(3) {
    background-color: #0000ff;
    border: .2vw solid #fff;
}

.colors .options {
    display: flex;
    justify-content: center; /* Centrar las opciones horizontalmente */
    align-items: center; /* Alinear opciones verticalmente */
    gap: 0.2vw; /* Espacio entre las opciones */
    margin-top: .1vh; /* Reducir margen superior para acercar a botón */
    margin-left: 1.2vw;
}

.colors .option:hover::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 1.3vw;
    width: 1.3vw;
    background: inherit;
    border-radius: inherit;
    border: solid .2vw #bfbfbf;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.colors .options .selected  {
    border-color: #e76102;
}


.boxed {
    opacity: 0.8;
    background-image: linear-gradient(#737373 1px, transparent 1px), 
                      linear-gradient(to right, #737373 1px, #fff 1px);
    background-size: 20px 20px;
}

.lines-horizontal {
    opacity: 0.8;
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(0deg, #737373, #737373 1px, #fff 1px, #fff);
}

.lines-vertical {
    opacity: 0.8;
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(to right, #737373, #737373 1px, #fff 1px, #fff);
}

.dotted {
    opacity: 1;
    background-image: radial-gradient(#858585 5%, transparent 5%);
    background-size: 5vh 5vh; /* Tamaño de los puntos */
    background-repeat: repeat;
}

.not-active{
    display: none;    
}

