/* Estilos generales */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91C5D0; /* Azul Claro */
    opacity: 1;
    background-image: linear-gradient(135deg, #80a8b8 25%, transparent 25%), 
                      linear-gradient(225deg, #80a8b8 25%, transparent 25%), 
                      linear-gradient(45deg, #80a8b8 25%, transparent 25%), 
                      linear-gradient(315deg, #80a8b8 25%, #91C5D0 25%);
    background-position: 4vh 0, 4vh 0, 0 0, 0 0;
    background-size: 8vh 8vh;
    background-repeat: repeat;
}

.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.canvas-container {
    display: flex;
    justify-content: space-between; /* Distribuir espacio entre los elementos hijos */
    align-items: center; /* Centrar verticalmente */
    width: 90vw;
    height: 90vh;
    background-color: #a7dce6;
    border-radius: 0.5vw;
    border: solid 1vw #ff7300;
    padding: 1vw; /* Añadir padding para que los elementos no toquen el borde */
    box-sizing: border-box; /* Incluir padding y border en el tamaño total */
}

.tool-controls-container, .action-controls-container {
    display: flex;
    flex-direction: column; /* Alinear botones en columna */
    align-items: flex-start; /* Alinear a la izquierda */
}

.control-button {
    width: 6vw;
    height: 6vw; /* Ajustar el alto para que sea cuadrado */
    margin: 2vh 2.5vh; /* Reducir margen vertical */
    font-size: 1vw;
    background-color: #ff7300;
    color: white;
    border: groove .4vw #ff7300; /* Quitar el borde sólido */
    border-radius: 0.5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Para ocultar partes de la imagen que sobresalgan */
    box-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.3), -0.2vw -0.2vw 0.4vw rgba(255, 255, 255, 0.2); /* Sombra para efecto 3D */
    transition: box-shadow 0.2s ease; /* Transición suave */
}

.sm {
    width: 8vw;
    height: 5vw;
    margin: 10vh 0vw;
    font-family: "Mochiy Pop P One", sans-serif;
    font-size: 1.5vw;
    font-style: normal;
    color: black;
}

.control-button:active {
    box-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.3), -0.1vw -0.1vw 0.2vw rgba(255, 255, 255, 0.2); /* Sombra más pequeña al presionar */
    transform: translate(0.2vw, 0.2vw); /* Simular la presión del botón */
    background-color: #c15f0e;
}

.size:active {
    box-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.3), -0.1vw -0.1vw 0.2vw rgba(255, 255, 255, 0.2); /* Sombra más pequeña al presionar */
    transform: translate(0.2vw, 0.2vw); /* Simular la presión del botón */
    background-color: #c15f0e;
}


.control-button.active {
    background-color: #8fbec8; /* Color diferente para el botón activo */
    border: ridge #c15f0e .4vw
}

.control-button img {
    width: 70%; /* Ajustar el tamaño de la imagen */
    height: auto; /* Mantener la proporción */
    object-fit: contain; /* Ajusta la imagen dentro del tamaño especificado manteniendo la proporción */
}

.canvas-board {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0.5vw;
    border: solid .1vw #91C5D0;
    width: 50vw;
    height: 75vh;
}

.colors .option {
    height: 1.3vw;
    width: 1.3vw;
    border-radius: 50%;
    margin: 0 .2vw; /* Añadir margen horizontal para separación */
    position: relative;
}

.colors .option:nth-child(1) {
    background-color: #000000;
    border: .23vw solid #fff;
}
.colors .option:nth-child(2) {
    background-color: #ff0000;
    border: .23vw solid #fff;
}

.colors .option:nth-child(3) {
    background-color: #0000ff;
    border: .23vw solid #fff;
}

.colors .options {
    display: flex;
    justify-content: center; /* Centrar las opciones horizontalmente */
    align-items: center; /* Alinear opciones verticalmente */
    gap: 0.3vw; /* Espacio entre las opciones */
    margin-top: .1vh; /* Reducir margen superior para acercar a botón */
    margin-left: 1.2vw;
}

.colors .option:hover{
    cursor: pointer;
    border: .3vw rgb(214, 210, 210) solid;
}

.colors .options .selected  {
    border: solid .3vw #e65314;
}


.not-active{
    display: none;    
}

.sizes li{
    margin: .3vw;
    padding: .3vw;
    background-color: #ff7300;
    color: black;
    font-family:"Mochiy Pop P One", sans-serif;
    border-radius: 10%;
    cursor: pointer;
}

.size{
    font-size: 1vw;
}


.sizes .current-brush{
    background-color: #8fbec8;
}

.sizes-container{
    display: flex;
}

.controls-wrapper {
    display: flex;
    align-items: center; /* Opcional: Alinea verticalmente los elementos */
}

.control-button {
    margin-right: 1vw; /* Espacio entre el botón y el contenedor de tamaños */
}

#pattern-trigger{
    width: 1vw;
    height: 1vw;
    border: .15vw solid black;
    border-radius: 20%;
    position: absolute;
    bottom: -2.8vw;
    right: -5vw;
    background-image: repeating-conic-gradient(#000000 0% 25%, #E4E4ED 0% 50%);
    background-position: 0 0, 0.4vw 0.4vw;
    background-size: .5vw .5vw;
    background-color: #E4E4ED;	
}
.trigger-container {
    position: relative;
}

.pattern{
    background: white;
    border: .15vw solid #fff;
}

.pattern:hover{
    cursor: pointer;
    border: .15vw solid black;
}

.patterns .pattern {
    height: 1.3vw;
    width: 1.3vw;
    border-radius: 50%;
}


.patterns{
    margin-left: .2vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas con igual ancho */
}

.frame-icon{
    width: 3vw;
    height: 3vw; /* Ajustar el alto para que sea cuadrado */
}

.frame-icon img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: contain;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-bar {
    display: flex;
    justify-content: center;
    }

.play-container{
    width: 5.5vw;
    height: 5.5vw;
    border: solid 1px black;
    border-radius: 25%;
    background-color: #ff7300;
    
}

.speed-container{
    width: 5.5vw;
    height: 5.5vw;
    border: solid 1px black;
    border-radius: 25%;
    background-color: #ff7300;
}

.loop-container{
    width: 5.5vw;
    height: 5.5vw;
    border: solid 1px black;
    border-radius: 25%;
    background-color: #ff7300;
}

.play-container img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: contain;
}

.canvas-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.control-bar {

    margin-bottom: -3.5vw;
    margin-top: .8vw;
    justify-content: space-between;
    align-items: center;
}


.control-bar > div {
    flex: 1; /* Hace que cada elemento tome el mismo espacio disponible */
    text-align: center; /* Centra el contenido dentro de cada div */
    margin: 0 2vw;
}

.frame-counter{
height: 1vw;
width: 1vw;
border: solid 1px black;
height: 100%;
width: 100%
}

.frame-counter-container {
    margin-bottom: .5vw; /* Asegurarse de que no haya margen inferior */
    margin-top: -2vw; /* Ajustar esto según sea necesario para mover hacia arriba */
}